.vv-free-dom--draggable {
  cursor: move;
}
.vv-free-dom--line {
  background: var(--vv-free-dom--line);
  position: absolute;
  z-index: 1000;
}
.vv-free-dom--xline {
  left: 0;
  width: 100%;
  height: 1px;
}
.vv-free-dom--yline {
  top: 0;
  width: 1px; 
  height: 100%;
}
.vv-free-dom--scene {
  position: relative;
  box-sizing: content-box;
}