.free-dom__mark-line {
  height: 100%;
}
.free-dom__line {
  background: var(--free-dom-line-border);
  position: absolute;
  z-index: 1000;
}
.free-dom__xline {
  width: 100%;
  height: 1px;
}
.free-dom__yline {
  width: 1px; 
  height: 100%;
}