.free-dom__widget-wrapper {
  display: inline-block;
  position: absolute;
  border: 1px dashed transparent;
  transition: border-color 0.3s;
  box-sizing: content-box;
  user-select: none;
  &.is-active, &.can-move:hover {
    border: 1px dashed var(--free-dom-dot-border);
    cursor: move;
  }
  &.is-active, &:hover {
    .free-dom__widget-dot {
      opacity: 1;
    }
  }
}
.free-dom__widget-dot {
  opacity: 0;
  position: absolute;
  margin-left: calc(var(--free-dom-dot-size) / -2);
  margin-top: calc(var(--free-dom-dot-size) / -2);
  width: var(--free-dom-dot-size);
  height: var(--free-dom-dot-size);
  border-radius: 50%;
  border: 1px solid var(--free-dom-dot-border);
  background-color: var(--free-dom-dot-border);
}