.vv-resize-dom--handler__t {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(225deg);
  cursor: ns-resize;
}
.vv-resize-dom--handler__l {
  top: 50%;
  left: 4px;
  transform: translateY(-50%) rotate(135deg);
  cursor: ew-resize;
}
.vv-resize-dom--handler__r {
  top: 50%;
  right: 4px;
  transform: translateY(-50%) rotate(-45deg);
  cursor: ew-resize;
}
.vv-resize-dom--handler__b {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  cursor: ns-resize;
}
.vv-resize-dom--handler__lt {
  top: 0;
  left: 0;
  transform: rotate(180deg);
  cursor: nw-resize
}
.vv-resize-dom--handler__rt {
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  cursor: ne-resize;
}
.vv-resize-dom--handler__lb {
  bottom: 0;
  left: 0;
  transform: rotate(90deg);
  cursor: ne-resize;
}
.vv-resize-dom--handler__rb {
  bottom: 0;
  right: 0;
  cursor: nw-resize
}

.vv-resize-dom--handler {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0 3px 3px 0;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-origin: content-box;
  background-position: bottom right;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.vv-resize-dom--disabled {
  display: none;
}
.vv-resize-dom--box {
  img {
    pointer-events: none;
  }
}