$free-dom-theme: #4089ef !default;
$free-dom-line: $free-dom-theme !default;
$free-dom-dot-border: $free-dom-theme !default;
$free-dom-line-border: $free-dom-theme !default;
$free-dom-dot-size: 4px !default;