:root {
  --vv-free-dom--theme: #4089ef;
  --vv-free-dom--line: var(--vv-free-dom--theme);
  --free-dom-dot: var(--vv-free-dom--theme);

  --vv-grid-layout--placeholder: crimson;
  --vv-grid-layout--placeholder__opacity: 0.2;
}