:root {
  --free-dom-theme: #4089ef;
  --free-dom-line: var(--free-dom-theme);
  --free-dom-dot-border: var(--free-dom-theme);
  --free-dom-line-border: var(--free-dom-theme);
  --free-dom-dot-size: 4px;
}